/* Default styles reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Properties */
:root {
	--font-starting-size: 1.2rem;
	font-size: var(--font-starting-size);
	font-family: Roboto, sans-serif;
	--sidebar-color: #1792D4;
	--header-color: white;
	--main-color: #E2E8F0;
	--card-color:var(--header-color);
	--card-stripe-color: #F0B429;
	--card-border:10px solid var(--card-stripe-color);
	--main-shadow: inset 0 2px 8px grey;
	--card-shadow:0 5px 10px grey;
	--radius: 10px;
	--main-text-color:black;
	--sub-text-color: #636363;
	--gap: 2rem;
}
/* Layout */

/* Main Structure */

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
	min-height: 100vh;
}

.sidebar {
  grid-row: 1 / 3;
}
.header {
	grid-column-start: 2;
}
.main-content {
	display: grid;
	gap: var(--gap);
	padding: 2rem;
}


/* Card structure */

.projects {
	display: grid;
	grid-template-rows: min-content 1fr;
}
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
	gap:var(--gap);
}

.card-container > .card {
	display: grid;
	padding: 5%;
}
.card > .card-text {
	margin-right: 15%;

}

.icon-grid{
	align-self: end;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10px, 40px));
	gap: calc(2* var(--gap));
	justify-content: end;
} 

/* Sidebar Left Structure */
.sidebar {
	display: grid;
	align-items: start;
	justify-content: center;
	grid-auto-rows: min-content;
}
.sidebar > div {
	margin: 10px 20px 20px 8%;
}
.links:nth-child(1) {
	margin-bottom: 4rem;
}
.links:nth-child(7) {
	margin-bottom: 4rem;
}
.links {
	display: flex;
	align-items: center;
	gap: 2rem;
}

/* Header */
.header {
	min-height: 100px;
	display: grid;
	padding: 2rem;
}
.header-bottom{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.header-bottom > .hello {
	display: grid;
	grid-template-columns: min-content 1fr;
}
.hello > h1 {
	grid-column: 2;
}
.header-bottom img {
	height: 60px;
}
/* Right Side Structure */

.side-cards ul {
	display: grid;
	padding: 10%;
}
.divider {
	
	background-color: lightgrey;
	height: 3px;
}
.side-content {
	display: grid;
	align-content: start;
	gap: var(--gap);
}

.profile-container {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: calc(var(--gap) / 2);
}
.profile-container > img {
	height: 50px;
	width: auto;
}
ul > li {
	margin: 15px 0;
}

/* Background, Shadows and Box Color*/

.sidebar {
	background-color: var(--sidebar-color);
}

.header {
	background-color: var(--header-color);
}

.main-content {
	background-color: var(--main-color);
	box-shadow: var(--main-shadow);
}

.side-cards {
	box-shadow: var(--card-shadow);
  background-color: var(--card-color);
  border-radius: 10px;
}


.card-container > .card {
	border-left: var(--card-border);
  box-shadow: var(--card-shadow);
  background-color:var(--card-color);
  border-radius: var(--radius);
}

/* Text styling */

h1 {
	margin-bottom: 15px;
	font-size: calc(1.4 * var(--font-starting-size));
	font-weight: 800;
}

h2 {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: calc(1.16 * var(--font-starting-size));
}
h3 {
	margin-bottom: 10px;
	font-weight: 900;
	font-size: calc((--font-starting-size) / 1.7);
}
.announcement-text > p {
	font-size: calc(var(--font-starting-size)/ 2);
	letter-spacing: 1px;
}

p {
	color: var(--sub-text-color);
}
.card-text > p {
	font-size: var(--font-starting-size);
	letter-spacing: 1px;
}
.links {
	color:white;
}

/* Image styling */


.links > img {
	height: 50px;
	width: auto;
	filter: invert(100%);
} 

@media (min-width: 60em){
	.main-content {
		grid-template-columns: 4fr 1fr;

	}
	
}
@media (max-width: 70em ) {
	.links > h5 {
		display: none;
	}
	
	.header-bottom {
		flex-direction: column;
		align-items: center;
	}
}
/* Header Styling */
.buttons {
	display: flex;
	gap:var(--gap)
}
 button {
	background-color:var(--sidebar-color);
	color: white;
	border: none;
	padding: .5rem;
	min-width: 100px;
	border-radius: 20px;
	border: 3px solid transparent;
	
 }

 button:hover {
	background-color: white;
	color: #1792D4;
	border-color: #1792D4;
 }
 input {
	margin-left: 10%;
	min-width: 50%;
	appearance: none;
	display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
	background-color: lightgrey;
	border-radius: 10px;
 }




